torchvision~=0.7.0
torch~=1.6.0
future~=0.18.2
numpy==1.18.5
Cython==0.29.14
Owlready2~=0.25
py2neo~=2020.1.1
requests~=2.25.0
easygui~=0.98.1
nltk~=3.5
similar-sentences~=3.0
sentence-transformers==0.3.6
spacy~=2.3.4
wordninja~=2.0.0
networkx~=2.5
beautifulsoup4~=4.9.3
Wikipedia-API==0.5.4
multiaddr~=0.0.9
trio==0.17.0
libp2p~=0.1.5
tensorflow-hub==0.10.0
tensorflow==2.3.1


